# Dependências
node_modules/

# Variáveis de ambiente e Segurança
.env
.env.*

# Pastas de build (TypeScript)
dist/
build/

# Logs de depuração
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# Testes
coverage/